<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softwaresolution.phhikers">

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp.NoActionBar"
        android:windowSoftInputMode="adjustResize|stateHidden">
        <activity android:name=".Activities.Weather"
            android:theme="@style/Theme.DefaultTheme"></activity>
        <activity
            android:name=".Activities.Compass"
            android:theme="@style/Theme.DefaultTheme" />
        <activity
            android:name=".Activities.SaveHike"
            android:theme="@style/Theme.DefaultTheme" />
        <activity
            android:name=".Activities.History"
            android:theme="@style/Theme.DefaultTheme" />
        <activity
            android:name=".Activities.Auth.UpdateAccount"
            android:theme="@style/Theme.DefaultTheme" />
        <activity
            android:name=".Activities.CheckListAct"
            android:theme="@style/Theme.DefaultTheme" />
        <activity
            android:name=".Activities.CustBrowser"
            android:theme="@style/Theme.DefaultTheme" />
        <activity
            android:name=".Activities.TrackLocation"
            android:theme="@style/Theme.DefaultTheme" />
        <activity
            android:name=".Activities.MountainMain"
            android:theme="@style/Theme.DefaultTheme" />
        <activity
            android:name=".Activities.TipsMain"
            android:theme="@style/Theme.DefaultTheme" /> <!-- <activity android:name=".Activities.Auth.AuthLogin" /> -->

        <!-- android:windowSoftInputMode="adjustResize|stateHidden" /> -->
        <activity android:name=".Activities.MainActivity" />
        <activity
            android:name=".Activities.SplashScreen"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Auth.AdminLogin"
            android:theme="@style/Theme.MyApp.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".Activities.Auth.AuthLogin"
            android:theme="@style/Theme.MyApp.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activities.Auth.Register"
            android:theme="@style/Theme.MyApp.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>